@import url('https://fonts.googleapis.com/css?family=Chelsea+Market');

*{	box-sizing:border-box;
	font-family:'Chelsea Market', 'Times New Roman', Times, serif;}

body{
	margin:0px auto;
	background:#f9e53c;
	padding:20px;
	min-width:320px;
	color:#4b460e;}

h1{
	width:280px;
	position:absolute;
	left:0px;
	top:30px;
	font-size:32px;
	text-align:right;
	padding:20px;
	background:#fbc818;}
h2{
	max-width:1000px;
	margin:240px auto 10px auto;}

nav{
	background:#fbc818;
	padding:20px;
	width:220px;
	text-align:center;
	position:absolute;
	right:0px;
	top:0px;}
nav a{
	text-decoration:none;
	color:#4b460e;
	font-size:30px;
	display:block;
	transition:all 0.5s liner;}
nav a:hover{background:#f9e53c;}
nav a:active{}
nav a:visited{color:white;}

#nocss{
	text-decoration:none;
	color:#4b460e;
	font-size:20px;
	padding:5px;
	margin:0px 0px 5px 30px;
	display:inline-block;
	background:#fbc818;
	transition:all 0.5s liner;}
#html{
	text-decoration:none;
	color:#4b460e;
	font-size:20px;
	padding:5px;
	margin:5px 0px 5px 80px;
	display:block;
	background:#fbc818;
	transition:all 0.5s liner;}
#nocss:hover{background:white;}
#nocss:visited{color:white;}
#html:hover{background:white;}
#html:visited{color:white;}

#storytitle{
	background:#fbc818;
	padding:20px;
	margin:100px auto 10px auto;
	width:300px;
	text-align:center;
	font-weight:bold;
	font-size:40px;
	display:block;}
#author{
	background:#fbc818;
	padding:10px;
	margin:10px 0px 0px 150px;
	font-size:20px;
	display:inline-block;}
.box{max-width:1000px; margin:auto;}
#box1{}
#box2{background:#fbc818;}
#box3{}
#box4{background:#fbc818;}
#box5{}
#box6{}
#box7{}
#box8{background:#fbc818;}
#box9{}
#box10{background:#fbc818;}
#box11{}
#box12{}
#box13{}
#point{background:#fbc818;}

footer{background:#fbc818;}

@media screen and (min-width:1000px) {
	h1{width:480px; padding:20px 20px 20px 200px;}
}

@media screen and (max-width:640px) {
	h1{top:0px;}
	h2{margin:400px auto 10px auto;}
	nav{left:0px; top:160px;}
}

@media screen and (max-width:320px) {
	
}