@import url('https://fonts.googleapis.com/css?family=Muli');

*{	box-sizing:border-box;
	font-family:'Muli', sans-serif;}

body{margin:0px auto; min-width:320px;}

h1{
	background:rgb(0, 0, 0);
	background-image:url(images/theme3/1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	color:white;
	font-weight:bold;
	font-size:50px;
	line-height:90px;
	width:300px;
	height:300px;
	margin:50px auto 0px auto;
	text-align:center;
	border:2px solid blue;
	border-radius:50%;}
h2{
	width:100%;
	max-width:800px;
	margin:auto;
	padding:20px;
	text-align:justify;
	text-indent:50px;}
h2::after{
	background:black;
	height:100px;
	content:'';
	display:block;
	width:calc(100% + 40px);
	position:relative;
	margin:20px 0px;
	left:-20px;
	background-image:url(images/theme3/3.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	border-top:3px solid blue;
	border-bottom:3px solid blue;}

nav{
	width:100%;
	max-width:800px;
	text-align:center;
	margin:0px auto;
	border-top:2px solid blue;}
nav a{
	text-decoration:none;
	font-size:20px;
	font-weight:bold;
	color:black;
	display:inline-block;
	padding:0px 10px;
	margin-bottom:10px;
	text-transform: uppercase;
	transition:all 0.3s ease-out;}
nav a:hover{color:blue;}

#addli{
	width:100%;
	text-align:center;
	max-width:800px;
	margin:auto;}
#nocss, #html{
	text-decoration:none;
	font-size:16px;
	font-weight:bold;
	color:black;
	display:block;
	text-transform: uppercase;
	transition:all 0.3s ease-out;}
#nocss:hover, #html:hover{color:blue;}
#html::after{
	border-bottom:2px solid blue;
	width:100%;
	content:'';
	display:block;
	margin-top:3px;}

#storytitle::before{
	height:150px;
	content:'';
	display:block;
	margin:20px auto;
	background-image:url(images/theme3/7.jpg);
	background-repeat:no-repeat;
	background-size:auto 150px;
	background-position:center;}
#storytitle{
	font-size:56px;
	line-height:50px;
	font-weight:bold;
	color:blue;
	text-align:center;
	margin:50px 20px 10px 20px;
	display:block;}
#author{
	font-size:30px;
	font-weight:bold;
	text-align:center;
	margin:15px 20px 10px 20px;
	display:block;}
.box{
	text-indent:50px;
	font-size:20px;
	width:100%;
	max-width:800px;
	padding:0px 24px;
	text-align:justify;
	line-height:22px;
	margin:auto;}
#box1{}
#box2{
	background:rgb(0, 0, 0);
	background-image:url(images/theme3/3.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	color:white;
	width:100%;
	border-top:2px solid blue;
	border-bottom:2px solid blue;}
#box3{
	border-bottom:2px solid blue;}
#box4{}
#box5{
	background:rgb(0, 0, 0);
	background-image:url(images/theme3/5.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	color:white;
	width:100%;
	border-top:2px solid blue;
	border-bottom:2px solid blue;}
#box6{}
#box7{
	border-top:3px solid blue;}
#box8{
	background:rgb(0, 0, 0);
	background-image:url(images/theme3/3.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	color:white;
	width:100%;
	border-top:2px solid blue;
	border-bottom:2px solid blue;}
#box9{}
#box10{
	border-top:2px solid blue;}
#box11{
	background:rgb(0, 0, 0);
	background-image:url(images/theme3/5.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	color:white;
	width:100%;
	border-top:2px solid blue;
	border-bottom:2px solid blue;}
#box12{
	border-bottom:2px solid blue;}
#box13{}
#box13::after{
	height:150px;
	content:'';
	display:block;
	margin:20px auto;
	background-image:url(images/theme3/7.jpg);
	background-repeat:no-repeat;
	background-size:auto 150px;
	background-position:center;}
#point{color:blue;}

footer{
	background:rgb(0, 0, 0);
	background-image:url(images/theme3/3.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	color:blue;
	width:100%;
	max-width:800px;
	margin:auto;
	height:40px;
	line-height:40px;
	text-align:center;}